*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    color: white;
}

button{
    color: whitesmoke;
    background-color: rgb(243, 55, 55);
    border-radius: 5px;
    font-size: 12px;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

nav{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section{
    
   display: flex;
   margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
     gap: 15px;
     border-radius: 20px;
     padding-left: 15px;
     padding-right: 15px;
     cursor: grab;
}



.task-column{
    height: 615px;
    background-color: rgb(58, 54, 54);
    flex-grow: 1;
    padding: 10px,10px;
    border-radius: 20px;
    padding: 5px;
    
}
.hovering{
     
    border: 2px solid whitesmoke;
    transition: 0.05s ;
}

.heading{
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task{
    background-color: rgb(68, 64, 64);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

}

.task button{
    
    align-self: center;
    
}

.modal{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    
}
.active{
  position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;   
}
input{
    background-color: beige;
    border: none;
    outline: none;
    padding : 5px;
    border-radius: 4px;
}
textarea{
     background-color: beige;
    border: none;
    outline: none;
    padding : 30px;
    border-radius: 4px;
}
.bg{
    position: absolute;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
}
.box {
    position: fixed;
    inset: 0;
     display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: center;
    gap: 15px;
    
}

.box input,
.box textarea,
.box button {
    width: 250px;
}



